* {
    padding: 0;
    margin: 0;
}

body {
    background: url("istanbul.jpg") no-repeat center center/cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    font-size: 28px;
    padding: 20px 30px;
    color: #9cff8c;
}

.button {
    text-decoration: none;
    border: 3px solid #76ed63;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.button:hover {
    box-shadow: 1px 1px 20px 10px #75ed639f;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(110deg, transparent, #75ed639f, transparent);
    transition: all 750ms;
}

.button:hover::before {
    left: 100%;
}